# ----------------------------------------------------------------------------
# This is a sample "build.properties" used to customize the building process
# for you local environment. You should create a "build.properties" in
# your home directory from this one, and override properties defined here
# as needed.
#
# $Id: build.properties.sample,v 1.2 2007/05/28 19:47:33 stephen Exp $
# ----------------------------------------------------------------------------

# ---------- Java EE home ----------------------------------------------------
#dependencies.javaee.home=/path/to/glassfish
#dependencies.javaee.home=D:/Java/glassfish-v2.1

# ---------- dependent libraries ---------------------------------------------
#dependencies.tlddoc.jar=/path/to/tlddoc.jar
#dependencies.tlddoc.jar=D:/Java/taglibrarydoc-1_3/tlddoc.jar

# ---------- compilation control ---------------------------------------------
compile.source=1.5
compile.debug=yes
compile.optimize=yes
compile.deprecation=yes